        <FORM method="post" action="__URL__/insert"><!--in Form file, so searches for FormController in controller to put data-->
       上传照片：<br/><INPUT type="file" name="image"><br/><br/>
        需要什么样的服务？:<br/><INPUT type="text" name="servicetype"><br/>
        描述一下问题：<br/><INPUT type="text" name="description"><br/>
        地址：<br/><INPUT type="text" name="address"><br/>
       需要紧急或者正常的服务？<br/><INPUT type="text" name="servicestatus"><br/>
        上门日期：<br/><input type="time" name="servicetime"><br>
<INPUT type="submit" value="提交">
</FORM>
